<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>

<body>
    <div id="head">
        <header>
            <h1>SANTIAGO'S BLOG</h1>
            <nav>
                <a href="/">HOME</a>
                <a href="/new">NEW</a>
            </nav>
        </header>
    </div>