<%- include('./partials/header.ejs') %>
<main>
    <h1>BLOG</h1>
    <h2>This is the database's content</h2>
    <div class="dbcontent">
        <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
        <b><%= blog.title %></b>
        <ol>
            <li><i><%= blog.text %></i></li>
        </ol>
        <% }) %>
        <% } else { %>
        <p>No hay ningun post</p>
        <% } %>
    </div>
</main>
<%- include('./partials/footer.ejs') %>