<%- include('./partials/header.ejs') %>
<main>
    <h1>BLOG</h1>
    <% if (blogs.length > 0) { %>
    <% blogs.forEach(blog => { %>
    <div class="dbcontent">
        <h2><%= blog.title %></h2>
        <p><%= blog.text %></p>
    </div><br>
    <% }) %>
    <% } else { %>
    <p>No hay ningun post</p>
    <% } %>

</main>
<%- include('./partials/footer.ejs') %>